# Prerequisites
*.d

#Compiled dependencies
wxWidgets-3.1.7/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#debug and log files
*.log
*.tlog
*.pdb
*.lastbuildstate
*.recipe
*.ilk
*.idb
*.enc
*.iobj
*.ipdb